<html>
    <head>
        <title>Menu Administrador</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/11.Actualizar/menuadmin.css') }}">
    </head>

    <body> 
        <div id="container">

            <header>
                <ul>
                    <li>
                        <img id="img1" src="{{ url_for('static', filename='images/indice.png') }}" width="60" height="60"  border-right: 2px solid black;>
                    </li>
                    <li>
                        <h1>ACTUALIZAR</h1>  
                    </li> 
                 </ul>
            </header>  

            <div id="actualizar1">
<h2>Producto</h2>
            </div>

            <div id="actualizar2_2">
                <h3>Producto:</h3>
                <h3>Nombre del prodcuto</h3>
                <h3>______</h3>
                <h3>Cantidad:</h3>
                <h3>0000000</h3>
            </div>

            <div id="actualizar2_3">
                <img  class="vista" src="{{ url_for('static', filename='images/update.JPG') }}" width="150" height="150">
            </div>

            <div id="actualizar2_4">
                <table>

                    <form name="formulario" method="post" action="{{ url_for('procesarActualizarProducto') }}" onSubmit="return validar_formulario();">
                        <h3></h3>
                        <h3><input type="text" name="Nombre" id="Nombre" placeholder="Actuaizar Nombre"></h3>
                        <h3> </h3>  
                        <h3><input type="number" name="Cantidad" id="Cantidad" placeholder="Actualizar Cantidad"></h3>
                        <h3> </h3>
                        <h3><input type="submit" value="Actualizar" id="submitactualizar"></h3>
                    </form>
                </table>
            </div>

            <div id="actualizar2_5">
                <img class="vista" src="{{ url_for('static', filename='images/update.JPG') }}" width="150" height="150">
            </div>
            <div id="actualizar2_6">
                
            </div>






        </div>               
    </body>
</html>