<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Registrar de nuevo usuario</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/indice.png') }}"/>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/6. Registro nuevo usuario/Registrar_Usuario.css') }}">
    </head>

    <body> 
        <div id="container">

            <header>
                <ul>
                    <li>
                        <img id="img1" src="{{ url_for('static', filename='images/logoacces.png') }}" width="100" height="60"  border-right: 1px solid black;>
                    </li>
                    <li>
                        <h1>REGISTRAR NUEVO USUARIO - ADMINISTRADOR</h1>  
                    </li> 
                 </ul>
            </header>

            <section id="content">
                <form name="formulario" method="post" action="{{ url_for('procesar') }}" onSubmit="return validar_formulario();">
                    <h1>FORMULARIO DE REGISTRO</h1>
                    <p><input type="text" name="usuario" placeholder="Nombre"> </p>
                    <p><input type="email" name="email" placeholder="Correo electrónico"></p>
                    <p><input type="password" name="password" placeholder="Contraseña"></p>
                    <p><input type="submit" id="registrar" value="REGISTRAR"></p>
                </form>
                <br><a href="/MenuAdmin"><input class='boton' type='button' name='btback' id='btback' value='VOLVER' title='Regresa al inicio de sesión' /> </a>
            </section>
        </div> 
    </body>

    <html>